<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.employeeapitestcases.TC001_GET_All_Employees"/>
      <class name="com.employeeapitestcases.TC002_GET_single_Employee_Record"/>
      <class name="com.employeeapitestcases.TC003_POST_Employee_Record"/>
      <class name="com.employeeapitestcases.TC004_PUT_Employee_Record"/>
      <class name="com.employeeapitestcases.TC005_DELETE_Employee_Record"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
